@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "./helpers/variables";
@import "./helpers/mixin";

@import './components/header';
@import './components/hero';
@import './components/main-blog';
@import "./components/posts";
@import "./components/footer";

.container {
    max-width: 966px;
    margin: 0 auto;
}

body {
    margin: 0;

    &.active {
        overflow: hidden;
    }
}
