.footer {
    @include fontStyle(#000, 16px);
    font-family: Inter;
    border-top: 1px solid #E8E8E8;
    margin-top: 43px;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
    }

    &__social-links {
        display: flex;
        gap: 32px;

        a {
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 351px) {
    .footer {
        &__content {
            flex-wrap: wrap;
            justify-content: center;

            p {
                width: 100%;
                text-align: center;
            }
        }

        &__social-links {
            margin-top: 20px;
            gap: 40px;
        }
    }
}
