.main-blog {
    font-family: Inter;
    margin-top: 39px;
    margin-bottom: 43px;

    &__item {
        display: flex;
    }

    &__info {
        padding: 41px 77px 42px 52px;
        border-radius: 5px;
        border: 1px solid #000;
        background: #FFF;
        box-shadow: 0px 5px 4px 0px rgba(221, 221, 221, 0.25);
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height: min-content;

        h2 {
            @include fontStyle(#2D3748, 30px, 700);
            margin: 0;
        }

        p {
            @include fontStyle(#718096, 14px);
            margin-top: 27px;
            margin-bottom: 30px;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;

        span {
            @include fontStyle(#718096, 12px);
        }

        a {
            @include fontStyle(#2D3748, 12px, 700);
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 948px) {
    .main-blog {
        &__item {
            flex-direction: column-reverse;
            justify-content: center;
        }

        &__info {
            max-width: 50%;
            margin-left: auto;
        }

        &__img {
            text-align: left;
        }
    }
}

@media screen and (max-width: 426px) {
    .main-blog {
        &__info {
            max-width: 100%;
            border-top: none;
            border-left: none;
        }
        &__img {
            img {
                width: 100%;
            }
        }
    }
}
