.see-more {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    &__btn {
        display: flex;
        align-items: center;
        gap: 7px;
        background: #6B46C1;
        border-radius: 5px;
        padding: 6px 7px;
        border: 3px solid #6B46C1;
        @include fontStyle(#FFF, 16px, 700);
        cursor: pointer;
        transition: .3s;

        path {
            transition: .3s;
        }

        &:hover {
            background: #fff;
            color: #6B46C1;

            path {
                fill: #6B46C1;
            }
        }
    }
}